.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fill-available;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacings_16px);
}

.main {
    padding: 48px var(--spacings_16px);
}